{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Заказы</h3>
                        {% include 'pages/orders/includes/table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>

    </script>

{% endblock %}