{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pricelist.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3 class="title m-auto">Список товаров</h3>
        </div>
        <div class="row">
            <form method="post" class="w-100">
                <div class="offset-8 col-4">
                    {% csrf_token %}
                    <div class="form-group d-flex justify-content-center align-items-center">
                        <input type="text" class="form-control" id="productName" name="product_name" placeholder="Название продукта">
                        <button class="btn btn-info ml-3">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-4">
                <ul class="product-list">
                    {% for product in products %}
                        <li class="product-item">
                            {{ product }}
                            {% if product.profiles %}
                                <ul class="sub-product-list">
                                    {% for profile in product.profiles.all %}
                                        <li class="profile-item">
                                            <a href="{% url 'product-profile' product.id profile.id %}">{{ profile }}</a>
                                            {% if profile.sizes %}
                                                <ul class="sizes-product-list">
                                                    {% for size in profile.sizes.all %}
                                                        <li class="size-item">{{ size.size }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                   {% if user.is_authenticated and user.is_superuser %}
                                         <li class="profile-item profile-item-add"><a href="{% url 'product-profile-add' product.id %}">+</a></li>
                                   {% endif %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}