{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid-theme.min.css' %}"/>
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-monospace">Транзакции</h3>
                        <div id="transactionGrid" class="text-monospace" style="font-size: 14px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jsgrid.min.js' %}"></script>
    <script>
        $(function () {
            $.ajax({
                url: {% url 'transactions-list' %},
                type: 'GET',
                dataType: 'json',
            }).done(function (response) {
                let clients = {}
                let dates = {}
                clients[''] = {
                    'name': ''
                }
                dates[''] = {
                    'date': ''
                }
                for (let i = 0; i < response.length; i++) {
                    if (response[i].client) {
                        clients[response[i].client] = {
                            name: response[i].client
                        }
                    }
                    let dt = new Date(response[i].created_dt)
                    dt = `${dt.getDate()}.${dt.getMonth() + 1}.${dt.getFullYear()}`
                    dates[dt] = {
                        name: dt,
                        value: response[i].created_dt
                    }

                }

                let transactions = $('#transactionGrid');
                transactions.jsGrid({
                    width: "100%",
                    deleteConfirm: "Вы действительно хотите удалить товар из корзины?",

                    filtering: true,
                    inserting: false,
                    editing: false,
                    sorting: true,
                    autoload: true,

                    controller: {
                        loadData: function (data) {
                            console.log(data)
                            let d = $.Deferred();
                            $.ajax({
                                url: {% url 'transactions-list' %},
                                type: 'GET',
                                dataType: 'json',
                                data: data,
                            }).done(function (response) {
                                let result = $.grep(response, function (item) {
                                    return item
                                });
                                d.resolve(result);
                            });
                            return d.promise();
                        },
                    },

                    fields: [
                        {name: "id", type: "text", title: "#", width: 30},
                        {
                            name: "client",
                            type: "select",
                            items: clients,
                            textField: 'name',
                            valueField: 'name',
                            title: "Клиент"
                        },
                        {
                            name: "created_dt",
                            type: "select",
                            items: dates,
                            textField: 'name',
                            valueField: 'value',
                            title: "Дата",
                            width: 80
                        },
                        {name: "products", type: "text", title: "Товары"},
                        {name: "final_sum", type: "text", title: "Сумма заказа", width: 40},
                        {name: "paid", type: "text", title: "Оплачено", width: 40},
                        {name: "debt", type: "text", title: "Долг", width: 40}
                    ]
                });
            })

        })

    </script>

{% endblock %}