{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid-theme.min.css' %}"/>
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-monospace">Транзакции</h3>
                        <div id="transactionGrid" class="text-monospace" style="font-size: 14px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jsgrid.min.js' %}"></script>
    <script>
        $(function () {
            $.ajax({
                url: {% url 'transactions-list' %},
                type: 'GET',
                dataType: 'json',
            }).done(function (response) {
                let clients = {}
                let dates = {}
                clients[0] = {
                    name: '',
                    id: 0
                }
                dates[0] = {
                    date: '',
                    id: ''
                }
                for (let i = 0; i < response.length; i++) {
                    if (response[i].client.id) {
                        clients[response[i].client.id] = {
                            name: response[i].client.name,
                            id: response[i].client.id

                        }
                    }
                    let date = new Date(response[i].created_dt)
                    let dt = `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`
                    dates[date.getDate()] = {
                        name: dt,
                        id: response[i].created_dt
                    }

                }
                console.log(clients, dates)
                let transactions = $('#transactionGrid');
                transactions.jsGrid({
                    width: "100%",
                    deleteConfirm: "Вы действительно хотите удалить товар из корзины?",

                    filtering: true,
                    inserting: false,
                    editing: false,
                    sorting: true,
                    autoload: true,

                    controller: {
                        loadData: function (data) {
                            console.log(data)
                            let d = $.Deferred();
                            $.ajax({
                                url: {% url 'transactions-list' %},
                                type: 'GET',
                                dataType: 'json',
                                data: data,
                            }).done(function (response) {
                                let result = $.grep(response, function (item) {
                                    console.log(data)
                                    return item
                                });
                                d.resolve(result);
                            });
                            return d.promise();
                        },
                    },

                    fields: [
                        {name: "id", type: "text", title: "#", width: 30},
                        {
                            name: "client",
                            type: "select",
                            items: clients,
                            textField: 'name',
                            valueField: 'id',
                            title: "Клиент", itemTemplate: function (value, item) {
                                return value.name
                            }
                        },
                        {
                            name: "created_dt",
                            type: "select",
                            items: dates,
                            textField: 'name',
                            valueField: String('id'),
                            title: "Дата",
                            width: 80, itemTemplate: function (value, item) {
                                value = new Date(value)
                                return `${value.getDate()}.${value.getMonth() + 1}.${value.getFullYear()}`
                            },
                            filterValue: function () {
                                return this.filterControl.val();
                            }
                        },
                        {name: "products", type: "text", title: "Товары"},
                        {name: "final_sum", type: "text", title: "Сумма заказа", width: 40},
                        {name: "paid", type: "text", title: "Оплачено", width: 40},
                        {name: "debt", type: "text", title: "Долг", width: 40}
                    ]
                });
            })

        })

    </script>

{% endblock %}