body {
  font-size: 16px;
  font-family: "Merriweather", serif;
}

.bg-image {
  background-image: url('https://essayroyal.com/static/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  min-height: 90vh;
}