$text-color: #4590ee;
$text-color-hover: #48ee45;
$button-color: #17a2b8;

ul.product-list {
  list-style-type: none;
  li.product-item {
    width: 150px;
    position: relative;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: $text-color;
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    &:hover {
      cursor: pointer;
      background-color: $text-color-hover;
      & > ul.sub-product-list {
        display: flex;
      }
    }
    ul.sub-product-list {
      display: none;
      list-style-type: none;
      position: absolute;
      left: 120px;
      top: 0;
      li.profile-item {
        width: auto;
        margin: 0 5px;
        background-color: $text-color;
        border-radius: 5px;
        font-size: 1em;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: #fff;
          padding: 5px 10px;
        }
        &:hover {
          background-color: $text-color-hover;
        }
        &:hover > ul.sizes-product-list {
          display: block;
        }
        ul.sizes-product-list {
          display: none;
          list-style-type: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          padding: 0;
          li.size-item {
            width: auto;
            margin: 5px 0;
            padding: 5px 10px;
            background-color: $text-color;
            border-radius: 5px;
            font-size: .8rem;
            text-align: center;
            &:hover {
              background-color: $text-color-hover;
            }
          }
        }
      }
      li.profile-item-add {
        background-color: $button-color;
        display: flex;
        align-items: center;
        a {
          color: #fff;
          padding: 5px 10px;
        }
      }
    }
  }
}