{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid-theme.min.css' %}"/>
{% endblock %}

{% block title %}
    Склад
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <ul class="d-none" id="stock_categories">
                            {% for category in categories %}
                                <li data-id="{{ category.id }}" data-name="{{ category.name }}"></li>
                            {% endfor %}
                        </ul>
                        <h3 class="card-title">Склад</h3>
                        <div id="stockGrid"></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Категории</h3>
                        <div id="stockCategoryGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jsgrid.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stock_category_list.js' %}"></script>

    <script>

        let stock = $("#stockGrid");
        stock.jsGrid({
            width: "100%",
            height: "730px",

            filtering: true,
            inserting: true,
            editing: true,
            sorting: true,
            autoload: true,

            deleteConfirm: "Вы действительно хотите удалить размер?",

            controller: {
                loadData: function (data) {
                    let d = $.Deferred();
                    $.ajax({
                        url: "{% url 'stock' %}",
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                    }).done(function (result) {
                        d.resolve(result);
                    });
                    return d.promise();
                },
                insertItem: function (item) {
                    return $.ajax({
                        url: "{% url 'stock-control' %}",
                        type: "POST",
                        dataType: 'json',
                        data: item
                    });
                },
                updateItem: function (item) {
                    return $.ajax({
                        url: "{% url 'stock-control' %}",
                        type: "PUT",
                        dataType: 'json',
                        data: item
                    });
                },
                deleteItem: function (item) {
                    console.log(item);
                    return $.ajax({
                        url: "{% url 'stock-control' %}",
                        type: "DELETE",
                        dataType: 'json',
                        data: item
                    });
                }
            },

            fields: [
                {name: "id", type: "hidden", title: "#", width: 20},
                {name: "category_id", type: "select", title: "Категория", items: categories, valueField: "id", textField: "name"},
                {name: "profile_name", type: "text", title: "Профиль", width: 150},
                {name: "size", type: "text", title: "Размер", width: 80},
                {name: "quantity", type: "number", title: "Кол.", width: 60},
                {name: "type_product", type: "select", title: "Кол.", items: type_quantity, valueField: "type", textField: "name", width: 50},
                {name: "price_purchase", type: "number", title: "Стоим.", width: 50},
                {name: "price_arrival", type: "number", title: "Обошл.", width: 50},
                {name: "price_sell", type: "number", title: "Продажа", width: 50},
                {type: "control"}
            ],
            updateCategories: function () {
                console.log(this.fields[1]);
            }
        });

        let stockCategories = $('#stockCategoryGrid').jsGrid({
            width: "100%",
            height: "auto",

            filtering: false,
            inserting: true,
            editing: true,
            sorting: false,
            autoload: true,

            deleteConfirm: "Вы действительно хотите удалить категорию?",

            controller: {
                loadData: function (data) {
                    let d = $.Deferred();
                    $.ajax({
                        url: "{% url 'stock-categories-control' %}",
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                    }).done(function (result) {
                        console.log(result);
                        d.resolve(result);
                    });
                    return d.promise();
                },
                insertItem: function (item) {
                    return $.ajax({
                        url: "{% url 'stock-categories-control' %}",
                        type: "POST",
                        dataType: 'json',
                        data: item
                    }).done(function (result) {
                        window.location.href = '/stock/';
                    });
                },
                updateItem: function (item) {
                    return $.ajax({
                        url: "{% url 'stock-categories-control' %}",
                        type: "PUT",
                        dataType: 'json',
                        data: item
                    }).done(function (result) {
                        console.log(result);
                        window.location.href = '/stock/';
                    });
                },
                deleteItem: function (item) {
                    console.log(item);
                    return $.ajax({
                        url: "{% url 'stock-categories-control' %}",
                        type: "DELETE",
                        dataType: 'json',
                        data: item
                    });
                }
            },

            fields: [
                {name: "id", type: "hidden", title: "#", width: 25},
                {name: "name", type: "text", title: "Категория", width: 150},
                {type: "control"}
            ]
        })
    </script>
{% endblock %}