{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jsgrid-theme.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/select2.min.css' %}"/>
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <ul class="d-none" id="stock_categories">
        {% for category in categories %}
            <li data-id="{{ category.id }}" data-name="{{ category.name }}"></li>
        {% endfor %}
    </ul>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Магазин</h3>
                        <div id="shopGrid"></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Корзина</h3>
                        <div id="cartGrid"></div>
                    </div>
                </div>
                <div class="card p-2">
                    <div class="d-flex">
                        <div class="float-left w-50 font-weight-bold">Общая стоимость: <span class="totalCost"></span>
                        </div>
                        <button id="sell" class="btn btn-success float-right w-50">Продать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="sellProductModal" tabindex="-1" role="dialog"
         aria-labelledby="sellProductModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sellProductModalLabel">Новый заказ</h5>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Кол-во</th>
                            <th>Цена</th>
                        </tr>
                        </thead>
                        <tbody id="orderFields"></tbody>
                    </table>
                    <div class="float-left w-50 font-weight-bold">Общая стоимость: <span class="totalCost"></span>
                    </div>
                    {#                    <input id="customerName" type="text" class="form-control form-value" name="customerName"#}
                    {#                           placeholder="Имя покупателя (по желанию)">#}
                    <select class="js-data-example-ajax">
                        <option value="0" selected="selected">Не известно</option>
                    </select>
                    <select name="paidOrder" id="paidOrder">
                        <option value="0">Оплачен</option>
                        <option value="1">В долг</option>
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Отмена
                        </button>
                        <button type="button" class="btn btn-success" id="confirmSell" data-product-id="">
                            Подтвердить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog"
         aria-labelledby="addToCartModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addToCartModalLabel">Новый заказ</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="quantity" class="col-form-label" id="quantityLabel">Кол-во:</label>
                        <input id="quantity" type="number" min="0" step="any"
                               class="form-control form-value" value="0"
                               name="quantity">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            Отмена
                        </button>
                        <button type="button" class="btn btn-success" id="addToCart" data-product-id="">Добавить
                            в
                            корзину
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/jsgrid.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stock_category_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
    <script>

        $('.js-data-example-ajax').select2({

            ajax: {
                delay: 250,
                url: '{% url 'get-clients' %}',
                dataType: 'json',
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    let result = []
                    data = JSON.parse(data)
                    for (let i = 0; i < data.length; i++) {
                        result.push({'id': data[i].pk, 'text': data[i].fields.name})
                    }

                    return {
                        results: result
                    };
                },

            },
            tags: true,
            minimumInputLength: 2,
            templateResult: formatRepo,
            templateSelection: formatRepoSelection
        });

        function formatRepo(repo) {
            if (repo.loading) {
                return repo.text
            }
            let $container = $(
                "<div class='select2-result-repository clearfix'>" +
                "<div class='select2-result-repository__title'></div>" +
                "</div>"
            );

            $container.find(".select2-result-repository__title").text(repo.text);


            return $container;
        }

        function formatRepoSelection(repo) {
            return repo.text;
        }

        const calculateTotalPrice = () => {
            let totalPrice = 0
            let tds = $('#cartGrid > div.jsgrid-grid-body > table > tbody > tr')
            for (let i = 0; i < tds.length; i++) {
                let price = $(tds[i]).children('td:nth-child(5)').text();
                totalPrice += Number(price);
            }

            $('.totalCost').text(totalPrice + ' сум');
            return totalPrice
        }

        $('#confirmSell').click(function () {
            let trs = $('#orderFields').children('tr')
            let data = {'items': [], 'paid': true, 'customer': '', 'total_price': 0}
            for (let i = 0; i < trs.length; i++) {
                let item = $(trs[i]).children('td:last').text()
                data['items'].push(item)
            }
            data['customer'] = $('.js-data-example-ajax').val()
            data['paid'] = $('#paidOrder').val() === '0'
            data['total_price'] = calculateTotalPrice()
            $.ajax({
                url: "{% url 'create-order' %}",
                type: 'POST',
                dataType: 'json',
                data: data,
            })
            location.reload(true)
        })

        $('#sell').click(function () {
            $('#sellProductModal').modal('show');
            let table = $('#orderFields')
            table.empty()
            let cartItems = $('#cartGrid > div.jsgrid-grid-body > table > tbody').children('tr')
            for (let i = 0; i < cartItems.length; i++) {
                let item = JSON.parse($(cartItems[i]).children('td:nth-child(7)').text());
                table.append(`
                    <tr>
                        <td>${item.profile_name}</td>
                        <td>${item.quantity}</td>
                        <td>${item.price_sell}</td>
                        <td class="d-none">${JSON.stringify(item)}</td>
                    </tr>
                `)
            }
        })

        $('#addToCart').click(function () {
            let cartGrid = $('#cartGrid');
            let quantity = $('#quantity').val()
            let item = JSON.parse($('#item').text())

            item.quantity = quantity;
            if (item.type_product === 'pc' || item.type_product === 'm') {
                item.price_sell = Number(item.quantity) * Number(item.price_sell);
            } else {
                item.price_sell = ((Number(item.quantity) / 1000) * Number(item.price_sell)).toFixed(0);
            }
            if (item.type_product === 'pc') {
                item.type_product = 'шт.'
            } else if (item.type_product === 'g') {
                item.type_product = 'г.'
            } else {
                item.type_product = 'м.'
            }
            item.hidden_data = JSON.stringify(item)
            cartGrid.jsGrid("insertItem", item).done(function () {
            });
            calculateTotalPrice()
            $('#addToCartModal').modal('hide')
            $('#quantity').val('0')
        })

        let shop = $('#shopGrid');
        shop.jsGrid({
            width: "100%",
            height: "auto",

            filtering: true,
            inserting: false,
            editing: false,
            sorting: true,
            autoload: true,

            deleteConfirm: "Вы действительно хотите удалить категорию?",

            controller: {
                loadData: function (data) {
                    let d = $.Deferred();
                    $.ajax({
                        url: "{% url 'shop' %}",
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                    }).done(function (response) {
                        let result = $.grep(response, function (item) {
                            return (!data.category_id || item.category_id === data.category_id) &&
                                (!data.profile_name.toLowerCase() || item.profile_name.toLowerCase().indexOf(data.profile_name.toLowerCase()) > -1) &&
                                (!data.size.toLowerCase() || item.size.toLowerCase().indexOf(data.size.toLowerCase()) > -1)
                        });
                        d.resolve(result);
                    });
                    return d.promise();
                },
            },
            fields: [
                {name: "id", type: "hidden", title: "#", width: 25},
                {
                    name: "category_id",
                    type: "select",
                    title: "Категория",
                    items: categories,
                    valueField: "id",
                    textField: "name"
                },
                {name: "profile_name", type: "text", title: "Профиль", width: 150},
                {name: "size", type: "text", title: "Размер", width: 80},
                {name: "quantity", type: "hidden", title: "Кол.", width: 60},
                {
                    name: "type_product",
                    type: "select",
                    title: "Кол.",
                    items: type_quantity,
                    valueField: "type",
                    textField: "name",
                    width: 50
                },
                {name: "price_sell", type: "hidden", title: "Продажа", width: 50},
                {
                    type: "control", editButton: false, deleteButton: false,
                    itemTemplate: function (value, item) {
                        let el = $('<input class="jsgrid-button jsgrid-insert-button" type="button" title="Insert">');
                        el.click(function () {
                            let modalForm = $('#addToCartModal')
                            let i = JSON.stringify(item)
                            let label = $('#quantityLabel')
                            $('#item').remove()
                            if (item.type_product === 'pc') {
                                label.text('Кол-во: ')
                            } else if (item.type_product === 'g') {
                                label.text('В граммах: ')
                            } else {
                                label.text('В метрах: ')
                            }

                            modalForm.append(`<div id="item" class="d-none">${i}</div>`)
                            modalForm.modal('show')
                        })
                        return el;

                    },
                }
            ]
        })

        let cart = $('#cartGrid');
        cart.jsGrid({
            width: "100%",
            deleteConfirm: "Вы действительно хотите удалить товар из корзины?",
            fields: [
                {name: "id", type: "number", title: "#", width: 25},  // Stock ID
                {name: "profile_name", type: "text", title: "Название", width: 140},  // Category, Stock - for info
                {name: "quantity", type: "number", title: "Количество", width: 70},
                {name: "type_product", type: "text", title: "Тип", width: 30},
                {name: "price_sell", type: "number", title: "Цена", width: 40},
                {
                    type: "control", editButton: false, itemTemplate: function () {
                        let el = $('<input class="jsgrid-button jsgrid-delete-button" type="button" title="Удалить">');
                        el.click(function () {
                            cart.jsGrid("deleteItem", item).done(function () {
                                calculateTotalPrice();
                            });
                        })
                        return el;
                    }
                },
                {name: 'hidden_data', type: 'text', css: 'd-none hide', title: '', width: 0}
            ]
        });


    </script>

{% endblock %}